
<!-- <div class="container">
    <div class="col-4">
        <section class="col-3">
            Filters
        </section>
        <section class="col-9">
            Main
        </section>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <!-- <section class="col-3">
            <h5 class="text-warning ml-3">Sort</h5>
            <select class="custom-select my-3" (change)="onSortSelected($event.target.value)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">
                    {{sort.name}}
                </option>
            </select> -->

             <h5 class="text-warning ml-3">Categories</h5>
            <ul class="list-group mb-3">
                <li class="list-group-item">Electronics</li>
                <li class="list-group-item">Electrical</li>
             
            </ul> 
          
        <!-- </section> -->
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <div class="form-inline mt-2">
                    <input (keyup.enter)="onSearch()" type="text" class="form-control mr-2" #search placeholder="Search">
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4 mb-4" *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>

        </section>
    </div>
</div>